body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
    font-family: Arial, sans-serif;
}

.c  alculator{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 260px;
}

#display {
   width: 100%;
   height: 50px;
   font-size: 24px;
   text-align: right;
   margin-bottom: 15px;
   padding: 10px;
   border-radius: 5px;
   border: 1px solid #ccc;
}

.buttons {
    display: grid;
    grid-template-columns: (4,1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 100px;    
    cursor: pointer;
    background:#dcdcdc;
    transition: 0.2s;
}

button:hover{
    background: #c0c0c0;
}

.op {
    background: #ffb74d;
}

.op:hover {
    background: #ffa726;
}

.equal{
    background: #4caf50;
}
.equal:hover {
    background: #43a047;
}

#clear {
    background: #e57373;
    color: white;
    grid-column: span 4;
}

#clear:hover {
    background: #ef5350;
}


button:active {
    transform: scale(0.95);
    filter: brightness(0.9);
}

button {
    box-shadow: 0 3px 0 #b5b5b5;
}

button:active {
    box-shadow: 0 1px 0 #b5b5b5;
    transform: translateY(2px);
}
